/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cool-text {
  color: fuchsia;
}

@media (min-width: 800px) {
  .cool-text{
    color: mediumaquamarine;
  }
}

@media (min-width: 900px) {
  .cool-text{
    color: gold;
  }
}
 */

nav {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}

.phone {
  display: block;
}

.desktop {
  display: none;
}

@media (min-width: 991px) {
  nav {
    background: gray;
    padding: 40px 50px;
  }

  .phone {
    display: none;
  }

  .desktop {
    display: block;
  }

}